@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

p {
  padding: 0;
  margin: 0;
  font-family: 'Itim';
}

.background {
  background-color: #100c29;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.titles {
  font-size: 48px;
  background: linear-gradient(90deg, #8a48d1, #cf0cd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  width: 335px;
}

.choose-pet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
}

.button-choose {
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.input-name {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  background-color: transparent;
  color: white;
  padding-bottom: 10px;
}

/* home */
.profile {
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  width: 357px;
  height: 72px;
  background-color: linear-gradient(180deg, #d987f29a, #ef65ca70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.home-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #77e7f0;
  border-radius: 10px;
  border-width: 1px;
  background-color: #1c182d;
  justify-content: center;
}

.pet-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.smile-button {
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* food inventory */

.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.modal-content {
  background: #fdf2f8;
  width: 345px;
  border-radius: 12px;
  padding: 20px;
}

.cancel-button {

  
  background: transparent;
  border: none;
  cursor: pointer;
  border: none;
}

.feed-button{
  background-color: #D5D5D5;
  border-color: transparent;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #7F7F7F;
  font-weight: 400;
}

.feed-button.active{
  background-color: #47DB30;
  color: white;
}

.burger{
  width: 60px;
  height: 60px;
  cursor: pointer;
}
