@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

p {
  padding: 0;
  margin: 0;
  font-family: 'Itim';
}

.background{
  background-color: #100C29;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px
}

.titles {
  font-size: 48px;
  background: linear-gradient(90deg, #8A48D1, #CF0CD1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  width: 335px;
}

.choose-pet{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
}

.button-choose {
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;  
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.input-name {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  background-color: transparent;
  color: white;
  padding-bottom: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
